{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!doctype html>
<html>
    <head>
        <title>Modelos de IA</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><text y='16'>🤖</text></svg>">
    </head>
    <body>
        <br><br><br><br>
        <form method="POST" action="{% url 'modelos_login' %}">
            {% csrf_token %}
            <center>
                <p style="width:300px;">Modelos de IA</p>
                <div style="border-style: ridge; border-radius: 10px; width: 300px;">
                    <br>
                    <p><input type="text" name="username" class="border-top-0" placeholder="User Name" style="width:250px;"></p>
                    <p><input type="password" name="password" class="border-top-0" placeholder="Password" style="width:250px;"></p>
                    <p><input type="submit" value="Submit" class="btn btn-info"></p>
                    <br>
                    {% if msg %}
                    <p style="color: red;">{{msg}}</p>
                    {% endif %}
                </div>
            </center>
        </form>
        <br><br>
    </body>
</html>