<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> <title>Página6.html</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>bdpratico\exemplo01\templates\pagina6.html</p>
    
    {% for regs in pessoas %}
      <p>
        {% if regs.ativo %}
          <strong>{{ regs.nome }} - {{ regs.email }} - {{ regs.celular }} - {{ regs.ativo }}</strong>
        {% else %}
          {{ regs.nome }} - {{ regs.email }} - {{ regs.celular }} - {{ regs.ativo }}
        {% endif %}
      </p>
    {% endfor %}
  </body>
</html>
