{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matriz de Confusão</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Matriz de Confusão</h1>
      <p class="text-center">Exibindo a matriz de confusão gerada pelo modelo</p>
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
          <tr>
            <th></th>
            {% for coluna in labels %}
              <th class="text-center">{{ coluna }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in matrix %}
            <tr>
              {% if forloop.counter == 1 %}
                <th class="text-end">{{ labels.0 }}</th>
              {% endif %}
              {% if forloop.counter == 2 %}
                <th class="text-end">{{ labels.1 }}</th>
              {% endif %}
              {% for value in row %}
                <td class="text-center">{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
